#include <dt-bindings/zmk/input_transform.h>

/ {
    behaviors {
        // スクロール設定
        scroller: scroller {
            compatible = "zmk,behavior-input-two-axis-scroll";
            #binding-cells = <0>;
            trigger-period-ms = <12>;
            type = "wheel";
            scale = <16>;
        };
    };

    /* レイヤー6のときだけ scroller に変換する定義 */
    ib_scroll_report: ib_scroll_report {
        compatible = "zmk,input-behavior-if-layer";
        #binding-cells = <2>;
        bindings = <&scroller>;
    };
};

/* 
 * トラックボールのリスナー設定
 * 既存の定義（&input_listener）に対して設定を上書き・追加します
 */
&input_listener {
    // 除外キー
    exclude-key-positions = <10 17 18 19 20 21 29 30 31 32 35 37 38 39 40 41 42>;

    /* 
     * 第一引数：対象レイヤー (6)
     * 第二引数：不一致時の挙動 (0 = 何もしない。これにより通常のマウス移動が維持される)
     */
    input-processors = <&ib_scroll_report 6 0>;
};
